version: 2.1
jobs:
  compile:
   docker:
      - image: ubuntu:18.04
   steps:
      - run:
          command: |
           apt-get -y update && apt-get -y upgrade && apt-get -y install bc build-essential zip curl libstdc++6 git wget python gcc clang libssl-dev repo rsync
           mkdir twrp
           cd twrp
           wget https://github.com/Yasir-siddiqui/twrp_device_xiaomi_tiare/raw/android-8.1/build.sh
           source build.sh
workflows:
  version: 2.1
  cooking:
    jobs:
      - compile
